.divContainerPersonalInformation00 > div {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}
.divContainerPersonalInformation00 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2rem 0 0 0;
}

.divContainerPersonalInformation00 > h1 {
  padding: 0 0 2rem 0;
}

.divContainerPersonalInformation00 > div > label {
  display: flex;
  flex-flow: column nowrap;
}
.divContainerPersonalInformation00 > div > label > div {
  display: flex;
  flex-flow: column nowrap;
}
.divContainerPersonalInformation00 > div > label > div > input {
  cursor: pointer;
}
.divContainerPersonalInformation00 > div > label div > div {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}
.divContainerPersonalInformation00 > div > label > div > div > div {
  position: absolute;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  width: 99%;
  border-left: 0.1rem solid rgb(51, 50, 50);
  border-right: 0.1rem solid rgb(51, 50, 50);
  border-bottom: 0.1rem solid rgb(51, 50, 50);
}

.divContainerPersonalInformation00 > div > label > div > div > div :hover{
background-color: rgb(238, 238, 238);
}